USE [EVENTS]
GO
/****** Object:  Table [dbo].[EVENT_ZONES]    Script Date: 29/03/2026 23:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT_ZONES](
	[ZONE_ID] [uniqueidentifier] NOT NULL,
	[EVENT_ID] [uniqueidentifier] NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[CAPACITY] [int] NOT NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [varchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_EVENT_ZONES] PRIMARY KEY CLUSTERED 
(
	[ZONE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTS]    Script Date: 29/03/2026 23:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTS](
	[EVENT_ID] [uniqueidentifier] NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[EVENT_DATE] [datetime] NOT NULL,
	[PLACE] [varchar](200) NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [varchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_EVENTS] PRIMARY KEY CLUSTERED 
(
	[EVENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROCESSED_MESSAGES]    Script Date: 29/03/2026 23:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCESSED_MESSAGES](
	[ID] [uniqueidentifier] NOT NULL,
	[MESSAGE_ID] [uniqueidentifier] NOT NULL,
	[EVENT_TYPE] [varchar](100) NOT NULL,
	[PROCESSED_AT] [datetime] NOT NULL,
 CONSTRAINT [PK_PROCESSED_MESSAGES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EVENTS] ADD  CONSTRAINT [DF_EVENTS_STATUS]  DEFAULT ('DRAFT') FOR [STATUS]
GO
ALTER TABLE [dbo].[EVENT_ZONES]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_ZONES_EVENTS] FOREIGN KEY([EVENT_ID])
REFERENCES [dbo].[EVENTS] ([EVENT_ID])
GO
ALTER TABLE [dbo].[EVENT_ZONES] CHECK CONSTRAINT [FK_EVENT_ZONES_EVENTS]
GO
ALTER TABLE [dbo].[EVENT_ZONES]  WITH CHECK ADD  CONSTRAINT [CK_EVENT_ZONES_CAPACITY] CHECK  (([CAPACITY]>(0)))
GO
ALTER TABLE [dbo].[EVENT_ZONES] CHECK CONSTRAINT [CK_EVENT_ZONES_CAPACITY]
GO
ALTER TABLE [dbo].[EVENT_ZONES]  WITH CHECK ADD  CONSTRAINT [CK_EVENT_ZONES_PRICE] CHECK  (([PRICE]>=(0)))
GO
ALTER TABLE [dbo].[EVENT_ZONES] CHECK CONSTRAINT [CK_EVENT_ZONES_PRICE]
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [CK_EVENTS_STATUS] CHECK  (([STATUS]='CANCELLED' OR [STATUS]='PUBLISHED' OR [STATUS]='DRAFT'))
GO
ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [CK_EVENTS_STATUS]
GO
